img:active {
  transform: scale(1);
  transition:100s;
}
img {
  transform: scale(1);
  transition:100s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
img:hover {
  transform: scaleX(100);
  transition:100s;
}
body {
  margin:0 auto;
}
button {
    margin: 0 auto;
    display: block;
}
